.project-status input[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
.project-status input[type=radio] + img {
  cursor: pointer;
  -webkit-filter: grayscale(100%) opacity(30%);
  transition: filter 0.75s;
}

/* CHECKED STYLES */
.project-status input[type=radio]:checked + img {
  -webkit-filter: grayscale(0%) opacity(100%);
}

.project-detail-card {
  margin-bottom: 64px;
}

.match-rating {
  text-align: center;
}

.match-rating p {
  display: block;
  padding: 0 !important;
  margin: 0 0 4px;
  font-size: 10px;
}

.match-rating img {
  margin: auto 2px !important;
  height: 16px;
  min-width: 16px !important;
}

.project-info {
  max-width: 400px;
  margin: 16px auto;
}

.project-info img {
  max-width: 12px;
}

.dzu-dropzone {
  /* border-style: none !important; */
  height: 75%;
  min-height: 250px !important;
}

.dzu-previewContainer {
  padding: 8px 3% !important;
}

.dzu-previewStatusContainer {
  min-width: 70% !important;
}

.dzu-previewStatusContainer progress {
  width: 100% !important;
}

.dzu-inputLabelWithFiles {
  background-color: transparent !important;
}

.dzu-submitButton[disabled] {
  display: none !important;
}

.uk-table tbody tr {
  transition: background-color .25s linear;
}

.uk-table-hover tbody tr:hover {
  background-color: rgba(86, 165, 218, 0.15);
}

.campaign-table small {
  font-size: 11px;
}

.uk-checkbox {
  height: 24px;
  width: 24px;
}
