@import url('https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap|Rubik:300,400,500,700');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik', "Helvetica", "Arial", sans-serif !important;
}

.uk-h1,
.uk-h2,
.uk-h3,
.uk-h4,
.uk-h5,
.uk-h6 {
  font-weight: 400;
  font-family: 'Muli', "Helvetica", "Arial", sans-serif !important;
  color: #555 !important;
}

.uk-button {
  font-family: 'Muli', "Helvetica", "Arial", sans-serif !important;
  text-transform: none;
}

p,
li {
  font-weight: 400;
  font-family: "Muli", "Helvetica", "Arial", sans-serif !important;
}

h2.content-title {
  font-weight: 600 !important;
  text-align: left;
}

.content-lead {
  font-size: 1.125rem !important;
  color: #6c6c6c;
  text-align: left;
}

@media (min-width: 640px) {
  h2.content-title {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
  }

  .content-lead {
    text-align: center;
  }
}

.uk-article-meta {
  font-size: 10px;
}
